ODDS_API_KEY=5327110310109ef8ffe60bbb673997a1
PORT=3000
SEASON=2026
SPREAD_MARKET=spreads
REGION=us
ODDS_FORMAT=american
BOOKMAKER=draftkings
SYNC_INTERVAL_MINUTES=60
REGULAR_SEASON_START_DATE=2026-09-10T00:00:00Z
